<div  class="position-absolute border-box text-center border left-0 m-2">
    <div class="m-3 fw-bold fs-5 text-primary"> 
      Schools Space</div>
    <hr>
    <div class="m-2 ">
   <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clipboard2-check" viewBox="0 0 16 16">
      <path d="M9.5 0a.5.5 0 0 1 .5.5.5.5 0 0 0 .5.5.5.5 0 0 1 .5.5V2a.5.5 0 0 1-.5.5h-5A.5.5 0 0 1 5 2v-.5a.5.5 0 0 1 .5-.5.5.5 0 0 0 .5-.5.5.5 0 0 1 .5-.5h3Z"/>
      <path d="M3 2.5a.5.5 0 0 1 .5-.5H4a.5.5 0 0 0 0-1h-.5A1.5 1.5 0 0 0 2 2.5v12A1.5 1.5 0 0 0 3.5 16h9a1.5 1.5 0 0 0 1.5-1.5v-12A1.5 1.5 0 0 0 12.5 1H12a.5.5 0 0 0 0 1h.5a.5.5 0 0 1 .5.5v12a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5v-12Z"/>
      <path d="M10.854 7.854a.5.5 0 0 0-.708-.708L7.5 9.793 6.354 8.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3Z"/>
    </svg> <a >Dashboard</a> </div>
  
  
    <div class="m-2"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-book-open"><path d="M2 3h6a4 4 0 0 1 4 4v14a3 3 0 0 0-3-3H2z"></path><path d="M22 3h-6a4 4 0 0 0-4 4v14a3 3 0 0 1 3-3h7z"></path></svg> Courses </div>
  
  
    <div class="m-2 studenthover"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-plus-fill" viewBox="0 0 16 16">
      <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
      <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
    </svg>
        <a routerLink="/studentattaindence" >Student </a>
        </div>
        <div class="m-2">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar2-date" viewBox="0 0 16 16">
      <path d="M6.445 12.688V7.354h-.633A12.6 12.6 0 0 0 4.5 8.16v.695c.375-.257.969-.62 1.258-.777h.012v4.61h.675zm1.188-1.305c.047.64.594 1.406 1.703 1.406 1.258 0 2-1.066 2-2.871 0-1.934-.781-2.668-1.953-2.668-.926 0-1.797.672-1.797 1.809 0 1.16.824 1.77 1.676 1.77.746 0 1.23-.376 1.383-.79h.027c-.004 1.316-.461 2.164-1.305 2.164-.664 0-1.008-.45-1.05-.82h-.684zm2.953-2.317c0 .696-.559 1.18-1.184 1.18-.601 0-1.144-.383-1.144-1.2 0-.823.582-1.21 1.168-1.21.633 0 1.16.398 1.16 1.23z"/>
      <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM2 2a1 1 0 0 0-1 1v11a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H2z"/>
      <path d="M2.5 4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5V4z"/>
    </svg>  
    <a routerLink="/exam" >Exam </a></div>
  
  
    <div class="m-2"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-text" viewBox="0 0 16 16"> <path d="M5.5 7a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zM5 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5z"/> <path d="M9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.5L9.5 0zm0 1v2A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h5.5z"/> </svg>
        <a routerLink="/result">Result </a> </div>
  
    <div class="m-2"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-newspaper" viewBox="0 0 16 16"> <path d="M0 2.5A1.5 1.5 0 0 1 1.5 1h11A1.5 1.5 0 0 1 14 2.5v10.528c0 .3-.05.654-.238.972h.738a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 1 1 0v9a1.5 1.5 0 0 1-1.5 1.5H1.497A1.497 1.497 0 0 1 0 13.5v-11zM12 14c.37 0 .654-.211.853-.441.092-.106.147-.279.147-.531V2.5a.5.5 0 0 0-.5-.5h-11a.5.5 0 0 0-.5.5v11c0 .278.223.5.497.5H12z"/> <path d="M2 3h10v2H2V3zm0 3h4v3H2V6zm0 4h4v1H2v-1zm0 2h4v1H2v-1zm5-6h2v1H7V6zm3 0h2v1h-2V6zM7 8h2v1H7V8zm3 0h2v1h-2V8zm-3 2h2v1H7v-1zm3 0h2v1h-2v-1zm-3 2h2v1H7v-1zm3 0h2v1h-2v-1z"/> </svg> Notice Board </div>
  
  
    <div class="m-2"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-broadcast" viewBox="0 0 16 16">
      <path d="M3.05 3.05a7 7 0 0 0 0 9.9.5.5 0 0 1-.707.707 8 8 0 0 1 0-11.314.5.5 0 0 1 .707.707zm2.122 2.122a4 4 0 0 0 0 5.656.5.5 0 1 1-.708.708 5 5 0 0 1 0-7.072.5.5 0 0 1 .708.708zm5.656-.708a.5.5 0 0 1 .708 0 5 5 0 0 1 0 7.072.5.5 0 1 1-.708-.708 4 4 0 0 0 0-5.656.5.5 0 0 1 0-.708zm2.122-2.12a.5.5 0 0 1 .707 0 8 8 0 0 1 0 11.313.5.5 0 0 1-.707-.707 7 7 0 0 0 0-9.9.5.5 0 0 1 0-.707zM10 8a2 2 0 1 1-4 0 2 2 0 0 1 4 0z"/>
    </svg> Live Classes </div>
  
  
    <div class="m-2"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bell" viewBox="0 0 16 16">
      <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z"/>
    </svg>  
   Notifications </div>
  </div>
   
  <div style="width:87vw" class="ms-auto" >
    <div class="container mt-5">
      <div class="d-flex">
        <div class="h3 mx-3">Students</div>
        <div class="ms-auto">
          <button type="button" class="btn btn-primary h4 " data-bs-toggle="modal" data-bs-target="#exampleModal"
            data-bs-whatever="@mdo">+ Add Student</button>
        </div>
      </div>
  
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Add Student</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
  
            <div class="modal-body">
              <form>
                <div class="mb-3">
                  <label for="student" class="col-form-label">STUDENT NAME*</label>
                  <input type="text" name="studentname" [(ngModel)]="studentname" class="form-control" id="student">
                </div>
                <div class="mb-3">
                  <label for="class" class="col-form-label">CLASS*</label>
                  <input type="text" name="class" [(ngModel)]="class" class="form-control" id="class">
                  <span [ngClass]="{'errormsg':class>12}">Please Input Values Between 1 & 12 </span>
                </div>
                <div class="mb-3">
                  <label for="score" class="col-form-label">SCORE*</label>
                  <input type="text" name="score"  [(ngModel)]="score" class="form-control" id="score">
                  <span [ngClass]="{'errormsg':score>100}">Please Input Values Between 0 & 100 </span>
                </div>
                <div class="mb-3">
                  <label for="result" class="col-form-label">RESULT</label><br>
  
                  <span *ngIf="score>33 && score<100" class="bg-success text-white rounded-pill px-2" [(ngModel)]="result"
                    name="result"> passed</span>
                  <span *ngIf="score<33" class="bg-danger text-white rounded-pill px-2" [(ngModel)]="result"
                    name="result">failed</span>
  
                </div>
                <div class="mb-3">
                  <label for="grade" class="col-form-label">GRADE</label><br>
                  <span *ngIf=" score<33 && score>0" class=" fw-bold text-danger">Poor</span>
                  <span *ngIf=" score<70 && score>33" class=" fw-bold text-primary">Average</span>
                  <span *ngIf=" score<=100 && score>70" class="fw-bold  text-success">Excellent</span>
                </div>
  
              </form>
            </div>
  
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
              <button type="button" class="btn btn-primary" [hidden]="!isforupdate" data-bs-dismiss="modal"
                (click)="update(i)">update</button>
              <button type="button" class="btn btn-primary" [hidden]="isforupdate" data-bs-dismiss="modal"
                (click)="addtolist()">Confirm</button>
            </div>
  
          </div>
        </div>
  
      </div>
  
      <table class="table border m-3 rounded">
        <thead class="grey">
          <tr>
            <th scope="col">No</th>
            <th scope="col">Student Name</th>
            <th scope="col">Class</th>
            <th scope="col">Score</th>
            <th scope="col ">Result</th>
            <th scope="col ">Grade</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let list of studentlist;index as i" class="hover">
  
            <td>{{i+1}}</td>
            <td>{{list.StudentName}}</td>
            <td>{{list.Class}}th</td>
            <td>{{list.Score}}/100</td>
            <td [ngClass]="{'hide':list.Score>33 ||list.score<0}" class="text-white bg-danger width rounded-pill px-2">
              Failed</td>
            <td [ngClass]="{'hide':list.Score<33}" class="text-white bg-success width rounded-pill px-2">Passed</td>
            <td [ngClass]="{'hide':list.Score<70 ||list.Score>101}" class="text-success fw-bold  ">Excellent</td>
            <td [ngClass]="{'hide':list.Score>33}" class="text-danger fw-bold ">Poor</td>
            <td [ngClass]="{'hide':(list.Score>70 || list.Score<33)}" class="text-primary  fw-bold">Average</td>
            <td type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="edit(i)"> &#9997;</td>
            <td type="button" data-bs-toggle="modal" data-bs-target="#exampleModa2" (click)="delete(i)"> &#10060;</td>
          </tr>
  
        </tbody>
      </table>
    </div>
  
  
   <div class="modal fade" id="exampleModa2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Remove Student </h5>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
              <label for="recipient-name" class="col-form-label fw-bold">Are You Sure you want to Remove current Student From Student list</label>
            </div>
            <div class="mb-3">
              <label for="message-text" class="col-form-label opacity-50" >Student Name</label>
              <div>{{namepass}}</div>
            </div>
            <div class="mb-3">
              <label for="message-text" class="col-form-label opacity-50"> Class</label>
              <div>{{classpass}}th</div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-light text-primary" data-bs-dismiss="modal" (click)="clear()">Cancel</button>
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="finaldelete(i)">Remove</button>
        </div>
      </div>
    </div>
  </div> 
  </div>
