
   
  <div style="width:60" class="ms-auto" >
    <div class="container mt-5">
      <div class="d-flex">
        <div class="h3 mx-3" ><img src="assets/student-app-logo.png" alt="image" style="width:25vw;height:8vh"></div>
        <!-- <div> <img src="/internwork/src/assets/student-app-logo.png" alt="img" style="height:5vh ;width:10vw"></div> -->
        <div class="ms-auto">
          <button type="button" class="btn btn-primary h4 " data-bs-toggle="modal" data-bs-target="#exampleModal"
            data-bs-whatever="@mdo">+ Add Student</button>
        </div>
      </div>
  
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Add Student</h5>
            </div>
  
            <div class="modal-body">
              <form #addform="ngForm">
                <div class="mb-3">
                  <label for="student" class="col-form-label">STUDENT NAME*</label>
                  <input type="text" name="studentname" [(ngModel)]="studentname" class="form-control" id="student" required #namevalid="ngModel" >
                  <span *ngIf="namevalid.invalid && namevalid.touched" class="text-danger">Please Enter a valid name</span>
                </div>
                <div class="mb-3">
                  <label for="class" class="col-form-label">CLASS*</label>
                

                  <select name="demo" name="class" [(ngModel)]="class" class="form-control"  id="class">
                    <option selected="selected" value="1" >1</option>
                    <option value="2" > 2</option>
                    <option value="3"> 3</option>
                    <option value="4"> 4</option>
                    <option value="5"> 5</option>
                    <option value="6"> 6</option>
                    <option value="7"> 7</option>
                    <option value="8"> 8</option>
                    <option value="9"> 9</option>
                    <option value="10"> 10</option>
                    <option value="11"> 11</option>
                    <option value="12"> 12</option>
                   </select>

                  <span [ngClass]="{'errormsg':class>12}">Please Select Values From below </span>
                </div>
                <div class="mb-3">
                  <label for="score" class="col-form-label">SCORE*</label>
                  <input type="text" name="score"  [(ngModel)]="score" class="form-control" id="score" #scorevalid="ngModel" required >
                  <span [ngClass]="{'errormsg':score>100}">Please Input Values Between 0 & 100 </span>
                </div>
                <div class="mb-3">
                  <label for="result" class="col-form-label">RESULT</label><br>
  
                  <span *ngIf="score>=33 && score<100" class="bg-success text-white rounded-pill px-2" [(ngModel)]="result"
                    name="result"> passed</span>
                  <span *ngIf="score<33" class="bg-danger text-white rounded-pill px-2" [(ngModel)]="result"
                    name="result">failed</span>
                    <span  *ngIf="score==null" name="result"> - </span>
  
                </div>
                <div class="mb-3">
                 
                  <label for="grade" class="col-form-label">GRADE</label><br>
                  <span *ngIf=" score==null"> - </span>
                  <span *ngIf=" score<33 && score>0" class=" fw-bold text-danger">Poor</span>
                  <span *ngIf=" score<70 && score>=33" class=" fw-bold text-primary">Average</span>
                  <span *ngIf=" score<=100 && score>=70" class="fw-bold  text-success">Excellent</span>
                </div>
  
              </form>
            </div>
  
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="clear()">Cancel</button>
              <button type="button" class="btn btn-primary" [hidden]="!isforupdate" data-bs-dismiss="modal"
                (click)="update(i)">update</button>
              <button type="button" class="btn btn-primary" [hidden]="isforupdate" data-bs-dismiss="modal"
                (click)="addtolist()" [disabled]="addform.invalid">Confirm</button>
            </div>
  
          </div>
        </div>
  
      </div>
  
      <table class="table border m-3 rounded">
        <thead class="grey">
          <tr>
            <th scope="col">No</th>
            <th scope="col">Student Name</th>
            <th scope="col">Class</th>
            <th scope="col">Score</th>
            <th scope="col ">Result</th>
            <th scope="col ">Grade</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let list of studentlist;index as i" class="hover">
  
            <td>{{i+1}}</td>
            <td>{{list.StudentName}}</td>
            <td>{{list.Class}}th</td>
            <td>{{list.Score}}/100</td>
            <td [ngClass]="{'hide':list.Score>=33 ||list.score<0}" class="text-white bg-danger width rounded-pill px-2">
              Failed</td>
            <td [ngClass]="{'hide':list.Score<33}" class="text-white bg-success width rounded-pill px-2">Passed</td>
            <td [ngClass]="{'hide':list.Score<70 ||list.Score>101}" class="text-success fw-bold  ">Excellent</td>
            <td [ngClass]="{'hide':list.Score>=33}" class="text-danger fw-bold ">Poor</td>
            <td [ngClass]="{'hide':(list.Score>=70 || list.Score<33)}" class="text-primary  fw-bold">Average</td>
            <td type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="edit(i)"> &#9997;</td>
            <td type="button" data-bs-toggle="modal" data-bs-target="#exampleModa2" (click)="delete(i)"> &#10060;</td>
          </tr>
  
        </tbody>
      </table>
    </div>
  
  
   <div class="modal fade" id="exampleModa2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Remove Student </h5>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
              <label for="recipient-name" class="col-form-label fw-bold">Are You Sure you want to Remove current Student From Student list</label>
            </div>
            <div class="mb-3">
              <label for="message-text" class="col-form-label opacity-50" >Student Name</label>
              <div>{{namepass}}</div>
            </div>
            <div class="mb-3">
              <label for="message-text" class="col-form-label opacity-50"> Class</label>
              <div>{{classpass}}th</div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-light text-primary" data-bs-dismiss="modal" (click)="clear()">Cancel</button>
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="finaldelete(i)">Remove</button>
        </div>
      </div>
    </div>
  </div> 
  </div>
  