.border{
    border: 1px solid grey;
}
.hide{
   display: none;
}

.width{
    width: 1vw;
}
.errormsg{
    color: red;

}
.hover:hover{
    background-color:lightgray;
}
.grey{
    background-color:lightgray;
}
.studenthover:hover{
    background-color: lightgray;
}